.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  @include progress-bar;

  .logo-container {
    .logo {
      width: rem(100px);
      height: rem(100px);
    }
  }
}
